/* body, html {
    height: 100%;
    margin: 0;
   scroll-behavior: auto;
  
  } */

.create-post{
  width: 400px;
}


.sidebar-container{
    width: 300px;
    padding-left: 80px;

   
}

/* .side-bar{
    
   
    overflow: hidden;
    
   
    
    
    
  } */
  .right-side-container {
    
    position: fixed;
    
  
  }
  .main-container {
    margin-left: 489px;
    overflow-y: auto;
}


.create-post-container {
  max-height: 500px; 
  overflow-y: auto;
  margin-bottom: 20px;
}

.dashboard{
  position: fixed;
  margin-left: 50px;
  z-index: 1;
}
.right-side-container{
  margin-top:410px;
  position: fixed;
  z-index: 2;

}
.create-post{
  
  z-index: 3;
  position: fixed;
  
}
.right-side-container{
  margin-top:80px ;
}
