body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: auto;
}

.create-post {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  margin-top: 0px;
}

.sidebar-container {
  width: 80%;
  max-width: 300px;
  padding-left: 20px;
}

.main-container {
  margin-left: 300px;
  padding: 20px;
  overflow-y: auto;
  margin-left: 450px;
}

.create-post-container {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.dashboard {
  position: fixed;
  margin-left: 20px;
  z-index: 1;
}

.right-side-container {
  position: fixed;
  z-index: 2;
  margin-top: 80px;
}

.create-post {
  z-index: 3;
  position: fixed;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 0;
    padding: 10px;
  }

  .sidebar-container {
    width: 100%;
    position: relative;
    padding-left: 0;
  }

  .dashboard {
    position: relative;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .right-side-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
  }

  .create-post {
    top: auto;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .create-post {
    width: 90%;
    max-width: none;
  }
}
